.web-left {
    position: fixed;
    height: 100vh;
    border-right: 3px solid #ededed;
    top: 0;
    left: 0;
    width: 15%;
    border-right: 3px solid #ededed;
    z-index: 100;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.web-left > h3 {
    font-size: 34px;
}

.web-right {
    max-width: 100%;
    min-height: 100vh;
}